Package: com.yourname.speedhack
Name: GameSpeedHack
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: A speed hack for Cocos2d-x games.
Maintainer: YourName
Author: YourName
Section: Tweaks
